<div class="wrapper">

<header>
	<!-- LOGO -->
	<div class="logo">
	<img src="/assets/kangurulogo01.png" alt="Kanguru App">
	</div>
	<!-- END LOGO -->
</header>

<%= form_tag(recommendation_url, :method => :get) do |f| %>
  <p><%= label_tag "current_location", "current location" %><br />
  <%= text_field_tag "current location", "Chicago, IL" %></p>
  
  <p><%= label_tag "Destination", "destination" %><br />
  <%= text_field_tag "destination" %></p>
  
  <%= button_tag "go!", :type => "submit", :class => "btn-go" %>
<% end %>

</div>