<div class="wrapper">

	<!-- BACKGROUND WRAPPER -->
	<div class="background <%# condition_class @weather %>"> 

			<!-- HEADER/NAV BAR -->
		<header>
		  <div class="container">
  			<nav>
  				<ol>
  					<li class="route"><a href="https://maps.google.com/maps?daddr=<%= CGI.escape(@destination) %>&saddr=222+Merchandise+Mart+Plaza,+Chicago,+IL&hl=en&sll=41.889819,-87.631888&sspn=0.018498,0.038581&geocode=FWlMgAId4VfG-imJ3MoOMdIPiDFl0ctY20sVJw%3BFXEqfwIdXMrG-ilx0yL7tiwOiDF1y_qieOluxQ&oq=222+West+Merchandise+Mart+Plaza&mra=ls&t=m&z=12">Route Pin</a></li>
  					<li class="destination"><a href="https://maps.google.com/maps?daddr=<%= CGI.escape(@destination) %>&saddr=222+Merchandise+Mart+Plaza,+Chicago,+IL&hl=en&sll=41.889819,-87.631888&sspn=0.018498,0.038581&geocode=FWlMgAId4VfG-imJ3MoOMdIPiDFl0ctY20sVJw%3BFXEqfwIdXMrG-ilx0yL7tiwOiDF1y_qieOluxQ&oq=222+West+Merchandise+Mart+Plaza&mra=ls&t=m&z=12" class="confirm_exit">
  					<% if @destination.blank? %>
  					  Map your route
  					<% else %>
  					  <%= @destination %>
  					<% end %></a>
  					</li>
  					<li class="home"><a href="<%= root_path %>" selected>Home</a></li>
  				</ol>
  			</nav>
			</div>
		</header>
    
    <div class="container">
  		<!-- DAY DESCRIPTION -->
  		<div class="day_desc">
  			<p class="desc_info"><%= @weather.condition %></p>
  		</div>
  		<!-- DAY DESCRIPTION END -->

  		<!-- WEATHER INFO -->
  		<article class="weather-container">
  			<div class="weather">
  				<p class="temperature">
  					<%= @weather.temperature %>&deg;
  				</p>
  			</div>
  			<div class="weather">
  				<p class="percipitation">
  					<%= @weather.humidity %> humidity
  				</p>
  				<p class="wind">
  					<%= @weather.wind_direction %> <%= @weather.wind_speed %>mph
  				</p>
  			</div>
  		</article>
  		<!-- WEATHER INFO END -->
		</div>
		
		<!-- Recommendations -->
		<div id="recommendations" class="car">
				<section class="recommendation car">
					<div class="transportation">
						<h3>Best Option</h3>
						<img src="/assets/mode_car.png" alt="car" />
					</div>
					<img src="/assets/rounded-top.png" class="transport_bg">
					<div class="items">
						<h3>Bring That</h3>
						<ul>
							<li>
								<img src="/assets/car/boot.png" alt="boot" />
								<div class="caption">boot</div>
							</li>
							<li>
								<img src="/assets/car/coffee.png" alt="coffee" />
								<div class="caption">coffee</div>
							</li>
							<li>
								<img src="/assets/car/donut.png" alt="donut" />
								<div class="caption">donut</div>
							</li>
							<li>
								<img src="/assets/car/jacket.png" alt="jacket" />
								<div class="caption">jacket</div>
							</li>
							<li>
								<img src="/assets/car/podcast.png" alt="podcast" />
								<div class="caption">podcast</div>
							</li>
							<li>
								<img src="/assets/car/umbrella.png" alt="umbrella" />
								<div class="caption">umbrella</div>
							</li>
						</ul>
					</div>
				</section>

				<section class="recommendation train">
					<div class="transportation">
						<h3>Best Option</h3>
						<img src="/assets/train/mode_train.png" alt="train" />
					</div>
					<img src="/assets/rounded-top.png" class="transport_bg">
					<div class="items">
						<h3>Bring That</h3>
						<ul>
							<li>
								<img src="/assets/train/book.png" alt="book" />
								<div class="caption">book</div>
							</li>
							<li>
								<img src="/assets/train/boot.png" alt="boot" />
								<div class="caption">boot</div>
							</li>
							<li>
								<img src="/assets/train/coffee.png" alt="coffee" />
								<div class="caption">coffee</div>
							</li>
							<li>
								<img src="/assets/train/gloves.png" alt="gloves" />
								<div class="caption">gloves</div>
							</li>
							<li>
								<img src="/assets/train/hat.png" alt="hat" />
								<div class="caption">hat</div>
							</li>
							<li>
								<img src="/assets/train/mace.png" alt="mace" />
								<div class="caption">mace</div>
							</li>
						</ul>
					</div>
				</section>

				<section class="recommendation bike">
					<div class="transportation">
						<h3>Best Option</h3>
						<img src="/assets/bike/mode_bike.png" alt="car" />
					</div>
					<img src="/assets/rounded-top.png" class="transport_bg">
					<div class="items">
						<h3>Bring That</h3>
						<ul>
							<li>
								<img src="/assets/bike/helmet.png" alt="helmet" />
								<div class="caption">helmet</div>
							</li>
							<li>
								<img src="/assets/bike/music.png" alt="music" />
								<div class="caption">music</div>
							</li>
							<li>
								<img src="/assets/bike/shirt.png" alt="shirt" />
								<div class="caption">extra shirt</div>
							</li>
							<li>
								<img src="/assets/bike/sun-screen.png" alt="sunscreen" />
								<div class="caption">sunscreen</div>
							</li>
							<li>
								<img src="/assets/bike/sunglasses.png" alt="sunglasses" />
								<div class="caption">sunglasses</div>
							</li>
							<li>
								<img src="/assets/bike/water.png" alt="water" />
								<div class="caption">water</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		<!-- Recommendations END -->
		
		
	</div>
	<!-- BACKGROUND WRAPPER END -->
</div>

<script>
  $(document).ready(function(){
    $.backstretch("<%= condition_img @weather %>");
  });
</script>