<div class="wrapper">

	<!-- BACKGROUND WRAPPER -->
	<div class="background <%= condition_class @weather %>"> 

			<!-- HEADER/NAV BAR -->
		<header>
			<nav>
				<ol>
					<li class="route"><a href="#">Route Pin</a></li>
					<li class="destination"><a href="https://maps.google.com/maps?daddr=<%= CGI.escape(@destination) %>&saddr=222+Merchandise+Mart+Plaza,+Chicago,+IL&hl=en&sll=41.889819,-87.631888&sspn=0.018498,0.038581&geocode=FWlMgAId4VfG-imJ3MoOMdIPiDFl0ctY20sVJw%3BFXEqfwIdXMrG-ilx0yL7tiwOiDF1y_qieOluxQ&oq=222+West+Merchandise+Mart+Plaza&mra=ls&t=m&z=12" class="confirm_exit"><%= @destination %></a></li>
					<li class="home"><a href="<%= root_path %>" selected>Home</a></li>
				</ol>
			</nav>
		</header>

		<!-- DAY DESCRIPTION -->
		<div class="day_desc">
			<p class="desc_info"><%= @weather.condition %></p>
		</div>
		<!-- DAY DESCRIPTION END -->

		<!-- WEATHER INFO -->
		<article class="weather-container">
			<div class="weather">
				<p class="temperature">
					<%= @weather.temperature %>&deg;
				</p>
			</div>
			<div class="weather">
				<p class="percipitation">
					<%= @weather.humidity %>
				</p>
				<p class="wind">
					<%= @weather.wind_direction %> <%= @weather.wind_speed %>mph
				</p>
			</div>
		</article>
		<!-- WEATHER INFO END -->

		<div class="variables">
		<!-- TRANSPORT -->
		<article class="transport-container">
			
			<!-- CHANGE TRANS BUTTONS -->
			<div class="othertrans">
				<button class="btn-left">Left</button>
				<button class="btn-right">Right</button>
			</div>
			<!-- CHANGE TRANS BUTTONS END -->

			<%= image_tag "mode_car.png", :alt => "Get off your lazy ass and bike", :class => "transport car" %>
		</article>
		<!-- TRANSPORT END -->
		

		<!-- ITEMS -->
		<footer>
			<p>BRING THAT</p>
			<%= image_tag "car_icons_boot.png", :class => "item" %>
			<%= image_tag "car_icons_coffee.png", :class => "item" %>
			<%= image_tag "car_icons_donut.png", :class => "item" %>
			<%= image_tag "car_icons_jacket.png", :class => "item" %>
			<%= image_tag "car_icons_podcast.png", :class => "item" %>
			<%= image_tag "car_icons_umbrella.png", :class => "item" %>
		</footer>
		</div>
	</div>
	<!-- BACKGROUND WRAPPER END -->
</div>