<div class="container">
  <div id="recommendations" class="car">
    <section class="recommendation car">
      <div class="transportation">
        <h3>Best Option</h3>
        <img src="/assets/mode_car.png" alt="car" />
      </div>
      <img src="/assets/rounded-top.png" class="transport_bg">
      <div class="items">
        <h3>Bring That</h3>
        <ul>
          <li>
            <img src="/assets/car/boot.png" alt="boot" />
            <div class="caption">boot</div>
          </li>
          <li>
            <img src="/assets/car/coffee.png" alt="coffee" />
            <div class="caption">coffee</div>
          </li>
          <li>
            <img src="/assets/car/donut.png" alt="donut" />
            <div class="caption">donut</div>
          </li>
          <li>
            <img src="/assets/car/jacket.png" alt="jacket" />
            <div class="caption">jacket</div>
          </li>
          <li>
            <img src="/assets/car/podcast.png" alt="podcast" />
            <div class="caption">podcast</div>
          </li>
          <li>
            <img src="/assets/car/umbrella.png" alt="umbrella" />
            <div class="caption">umbrella</div>
          </li>
        </ul>
      </div>
    </section>

    <section class="recommendation train">
      <div class="transportation">
        <h3>Best Option</h3>
        <img src="/assets/train/mode_train.png" alt="train" />
      </div>
      <img src="/assets/rounded-top.png" class="transport_bg">
      <div class="items">
        <h3>Bring That</h3>
        <ul>
          <li>
            <img src="/assets/train/book.png" alt="book" />
            <div class="caption">book</div>
          </li>
          <li>
            <img src="/assets/train/boot.png" alt="boot" />
            <div class="caption">boot</div>
          </li>
          <li>
            <img src="/assets/train/coffee.png" alt="coffee" />
            <div class="caption">coffee</div>
          </li>
          <li>
            <img src="/assets/train/gloves.png" alt="gloves" />
            <div class="caption">gloves</div>
          </li>
          <li>
            <img src="/assets/train/hat.png" alt="hat" />
            <div class="caption">hat</div>
          </li>
          <li>
            <img src="/assets/train/mace.png" alt="mace" />
            <div class="caption">mace</div>
          </li>
        </ul>
      </div>
    </section>

    <section class="recommendation bike">
      <div class="transportation">
        <h3>Best Option</h3>
        <img src="/assets/bike/mode_bike.png" alt="car" />
      </div>
      <img src="/assets/rounded-top.png" class="transport_bg">
      <div class="items">
        <h3>Bring That</h3>
        <ul>
          <li>
            <img src="/assets/bike/helmet.png" alt="helmet" />
            <div class="caption">helmet</div>
          </li>
          <li>
            <img src="/assets/bike/music.png" alt="music" />
            <div class="caption">music</div>
          </li>
          <li>
            <img src="/assets/bike/shirt.png" alt="shirt" />
            <div class="caption">extra shirt</div>
          </li>
          <li>
            <img src="/assets/bike/sun-screen.png" alt="sunscreen" />
            <div class="caption">sunscreen</div>
          </li>
          <li>
            <img src="/assets/bike/sunglasses.png" alt="sunglasses" />
            <div class="caption">sunglasses</div>
          </li>
          <li>
            <img src="/assets/bike/water.png" alt="water" />
            <div class="caption">water</div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>






	<div class="variables">
	<!-- TRANSPORT -->
	<article class="transport-container">
		
		<!-- CHANGE TRANS BUTTONS -->
		<div class="othertrans">
			<button class="btn-left">Left</button>
			<button class="btn-right">Right</button>
		</div>
		<!-- CHANGE TRANS BUTTONS END -->

		<%= image_tag "mode_car.png", :alt => "Get off your lazy ass and bike", :class => "transport car" %>
	</article>
	<!-- TRANSPORT END -->
	

	<!-- ITEMS -->
	<footer>
		<p>BRING THAT</p>
		<%= image_tag "car_icons_boot.png", :class => "item" %>
		<%= image_tag "car_icons_coffee.png", :class => "item" %>
		<%= image_tag "car_icons_donut.png", :class => "item" %>
		<%= image_tag "car_icons_jacket.png", :class => "item" %>
		<%= image_tag "car_icons_podcast.png", :class => "item" %>
		<%= image_tag "car_icons_umbrella.png", :class => "item" %>
	</footer>
	</div>
</div>